<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>player_web_app</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>com.controller.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ValidationFilter</display-name>
    <filter-name>ValidationFilter</filter-name>
    <filter-class>com.interceptors.ValidationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidationFilter</filter-name>
    <servlet-name>ControllerServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterPlayerController</display-name>
    <servlet-name>RegisterPlayerController</servlet-name>
    <servlet-class>com.controller.RegisterPlayerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPlayerController</servlet-name>
    <url-pattern>/registerplayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterTeamController</display-name>
    <servlet-name>RegisterTeamController</servlet-name>
    <servlet-class>com.controller.RegisterTeamController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterTeamController</servlet-name>
    <url-pattern>/registerteam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePlayerController</display-name>
    <servlet-name>DeletePlayerController</servlet-name>
    <servlet-class>com.controller.DeletePlayerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlayerController</servlet-name>
    <url-pattern>/deleteplayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPlayerController</display-name>
    <servlet-name>AddPlayerController</servlet-name>
    <servlet-class>com.controller.AddPlayerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlayerController</servlet-name>
    <url-pattern>/addplayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegPlayerController</display-name>
    <servlet-name>RegPlayerController</servlet-name>
    <servlet-class>com.controller.RegPlayerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegPlayerController</servlet-name>
    <url-pattern>/regplayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateController</display-name>
    <servlet-name>UpdateController</servlet-name>
    <servlet-class>com.controller.UpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateController</servlet-name>
    <url-pattern>/updateplayer</url-pattern>
  </servlet-mapping>
</web-app>